.chatbot-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0d6efd;
  color: white;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.chatbot-bubble:hover {
  background: #084298;
}

.chatbot-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 330px;
  height: 430px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Arial, sans-serif;
  z-index: 9999;
}

.chatbot-header {
  background: #0d6efd;
  color: white;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-header h4 {
  margin: 0;
  font-size: 15px;
}

.chatbot-header span {
  font-size: 12px;
  opacity: 0.9;
}

.chatbot-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f8f9fa;
}

.chatbot-message {
  padding: 10px 12px;
  border-radius: 12px;
  max-width: 80%;
  font-size: 14px;
  line-height: 1.4;
}

.chatbot-message.user {
  align-self: flex-end;
  background: #0d6efd;
  color: white;
}

.chatbot-message.bot {
  align-self: flex-start;
  background: #e9ecef;
  color: black;
}

.chatbot-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: white;
}

.chatbot-input input {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.chatbot-input button {
  margin-left: 8px;
  border: none;
  background: #0d6efd;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.chatbot-input button:hover {
  background: #084298;
}
.chatbot-icon {
  width: 105px;
  height: 105px;
  object-fit: contain;
}
.chatbot-bubble {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #0d6efd;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 1.5s infinite;
  animation-timing-function: ease-in-out;
}
.chatbot-bubble:hover {
  animation-play-state: paused;
  transform: scale(1.05);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
